{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    {% block core_css %}
        <link rel="stylesheet" href="{% static 'core_main/libs/bootstrap/3.3.7/css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'core_main/libs/font-awesome/4.6.3/css/font-awesome.css' %}" />
        <link rel="stylesheet" href="{% static 'core_main/libs/jquery-ui/1.12.1/jquery-ui.css' %}" />
        <link rel="stylesheet" href="{% static 'core_main/libs/jquery-ui/1.12.1/jquery-ui.structure.css' %}" />
        <link rel="stylesheet" href="{% static 'core_main/libs/jquery-ui/1.12.1/jquery-ui.theme.css' %}" />
        <link rel="stylesheet" href="{% static 'core_main/libs/bootstrap/3.3.7/css/bootstrap-theme.css' %}" />
    {% endblock %}
    {% block theme_css %}{% endblock %}
    {% block app_css %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block app_modals %}{% endblock %}

    {% block core_js %}
         <script src="{% static 'core_main/libs/jquery/3.1.1/jquery.js' %}"></script>
         <script src="{% static 'core_main/libs/jquery-ui/1.12.1/jquery-ui.js' %}"></script>
         <script src="{% static 'core_main/libs/bootstrap/3.3.7/js/bootstrap.js' %}"></script>
    {% endblock %}
    {% block theme_js %}{% endblock %}
    {% block app_js %}{% endblock %}
</body>
</html>